/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moul&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "cursive", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar
{
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track
{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb
{
  background: #bbbbbb;
}

::-webkit-scrollbar-thumb:hover
{
  background: rgb(63, 63, 63) bbb;
}

.transition{
  @apply transition-all duration-300 ease-in-out;
}